In [3]:
import pandas as pd
from IPython.display import display
import numpy as np

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
df_train = pd.read_csv('train_data_clean.csv')

df_test = pd.read_csv('test_data_clean.csv')

display(df_train.head())
display(df_test.head())

   Survived  Pclass  Sex  Age  Fare  Embarked  Title  IsAlone  Age*Class
0         0       3    0    1     0         0      1        0          3
1         1       1    1    2     3         1      3        0          2
2         1       3    1    1     1         0      2        1          3
3         1       1    1    2     3         0      3        0          2
4         0       3    0    2     1         0      1        1          6

   PassengerId  Pclass  Sex  Age  Fare  Embarked  Title  IsAlone  Age*Class
0          892       3    0    2     0         2      1        1          6
1          893       3    1    2     0         0      3        0          6
2          894       2    0    3     1         2      1        1          6
3          895       3    0    1     1         0      1        1          3
4          896       3    1    1     1         0      3        0          3

In [5]:
X = df_train.drop(columns=['Survived'])
y = df_train['Survived']

display(X.shape, y.shape)

(891, 8)

(891,)

In [6]:
# train, test, validation split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size=0.3, random_state=42)

display(X_train.shape, y_train.shape)
display(X_test.shape, y_test.shape)
display(X_val.shape, y_val.shape)

(623, 8)

(623,)

(187, 8)

(187,)

(81, 8)

(81,)

In [7]:
model = LogisticRegression()

model.fit(X_train, y_train)

model.score(X_train, y_train)

0.8138041733547352

In [8]:
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.7967914438502673

In [9]:
grid = {'C' : np.logspace(-3,3,7), 'penalty' : ['l1', 'l2']}
logreg = LogisticRegression(solver='liblinear')
logreg_cv = GridSearchCV(logreg, grid, cv=10)
logreg_cv.fit(X_train, y_train)

display("Best params: ", logreg_cv.best_params_)
display("Best score: ", logreg_cv.best_score_)

'Best params: '

{'C': 0.1, 'penalty': 'l2'}

'Best score: '

0.8121351766513056